.top {
  height: 23em;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  background: url("../public/top-rose.jpg") no-repeat top right fixed;
}
.main {
  background-color: white;
  text-align: center;
  padding: 2em;
  position: relative;
  font-family: 'Playfair Display', serif;
  margin: 2.5em;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.bottom {
  height: 23em;
  width: 100%;
  background: url("../public/top-rose.jpg") no-repeat bottom right fixed;
  transform: rotate(180deg);
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.uname {
  font-family: Playfair Display,serif;
  font-size: 1.65em;
  opacity: .8;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.uitalic {
  font-family: Times New Roman,Times,serif;
  font-style: italic;
  opacity: .8;
  letter-spacing: .05em;
  margin-bottom: .75em;
}

.h1 {
  font-weight: 400;
}